@import "tailwindcss";

@theme {
    --color-background: oklch(20.66% 0.0101 248.31);
    --color-bunker-50: #f3f6f8;
    --color-bunker-100: #e2e9eb;
    --color-bunker-200: #c7d4da;
    --color-bunker-300: #a1b6bf;
    --color-bunker-400: #728e9e;
    --color-bunker-500: #577283;
    --color-bunker-600: #4b606f;
    --color-bunker-700: #2f3842;
    --color-bunker-800: #21282e;
    --color-bunker-900: #21282e;
    --color-bunker-950: oklch(20.66% 0.0101 248.31);
    --color-orange-safety: oklch(68.42% 0.180984 49.9568);
    --color-green-pastel: oklch(64.58% 0.212469 143.5329);
    --color-blue-celestial: oklch(66.31% 0.1467 241.4);
    --icon: 30.6%;
    --color-blue-ribbon-100: #d8f1ff;
    --color-blue-ribbon-200: #b9e6ff;
    --color-blue-ribbon-300: #89d8ff;
    --color-blue-ribbon-400: #51c0ff;
    --color-blue-ribbon-500: #29a2ff;
    --color-blue-ribbon-600: #1284fe;
    --color-blue-ribbon-700: #0e71f4;
    --color-blue-ribbon-800: #1055bd;
    --color-blue-ribbon-900: #134b95;
    --color-blue-ribbon-950: #112e5a;
    --color-persian-blue-50: #e9f5ff;
    --color-persian-blue-100: #d8ebff;
    --color-persian-blue-200: #b8daff;
    --color-persian-blue-300: #8dc0ff;
    --color-persian-blue-400: #6198ff;
    --color-persian-blue-500: #3d6fff;
    --color-persian-blue-600: #1b44ff;
    --color-persian-blue-700: #1035f2;
    --color-persian-blue-800: #1131c4;
    --color-persian-blue-900: #183297;
    --color-persian-blue-950: #0e1b58;

    --color-malachite-50: #edfff2;
    --color-malachite-100: #d5ffe3;
    --color-malachite-200: #aeffc8;
    --color-malachite-300: #70ff9f;
    --color-malachite-400: #2bfd6e;
    --color-malachite-500: #00d344;
    --color-malachite-600: #00c039;
    --color-malachite-700: #009630;
    --color-malachite-800: #06752b;
    --color-malachite-900: #076026;
    --color-malachite-950: #003712;

    --color-royal-blue-50: #eef3ff;
    --color-royal-blue-100: #e0e9ff;
    --color-royal-blue-200: #c6d6ff;
    --color-royal-blue-300: #a4b9fd;
    --color-royal-blue-400: #8093f9;
    --color-royal-blue-500: #5865f2;
    --color-royal-blue-600: #4445e7;
    --color-royal-blue-700: #3836cc;
    --color-royal-blue-800: #2f2fa4;
    --color-royal-blue-900: #2d2f82;
    --color-royal-blue-950: #1a1a4c;

    --color-main-50: #eef3ff;
    --color-main-100: #e0e9ff;
    --color-main-200: #c6d6ff;
    --color-main-300: #a4b9fd;
    --color-main-400: #8093f9;
    --color-main-500: #5865f2;
    --color-main-600: #4445e7;
    --color-main-700: #3836cc;
    --color-main-800: #2f2fa4;
    --color-main-900: #2d2f82;
    --color-main-950: #1a1a4c;

    --color-shark-50: #f4f5f7;
    --color-shark-100: #e4e8e9;
    --color-shark-200: #cbd2d6;
    --color-shark-300: #a8b3b8;
    --color-shark-400: #7c8c94;
    --color-shark-500: #617079;
    --color-shark-600: #535f67;
    --color-shark-700: #424549;
    --color-shark-800: #36393e;
    --color-shark-900: #282b30;
    --color-shark-950: #1e2124;

    --font-walsheim: "Walsheim", sans-serif;
}

@layer base {
    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* IE and Edge */
    .no-scrollbar {
        -ms-overflow-style: none;
    }

    /* Firefox */
    .no-scrollbar {
        scrollbar-width: none;
    }
}

body {
    font-family: "Inter" !important;
    background-color: whitesmoke !important;
    color: black !important;
    --brand-primary: rgb(138, 180, 248);
    --brand-secondary: rgb(193, 168, 226);
    --brand-alternative: rgb(136, 186, 191);
    --background-site: rgb(0, 0, 0);
    --background-code: rgb(12, 12, 12);
    --text-body: rgb(222, 222, 222);
    --text-comment: rgb(170, 170, 170);
    --text-high-contrast: rgb(230, 230, 230);
    --text-medium-contrast: rgb(202, 202, 202);
    --text-low-contrast: rgb(170, 170, 170);
    --detail-high-contrast: rgb(101, 101, 101);
    --detail-medium-contrast: rgb(25, 25, 25);
    --detail-low-contrast: rgb(21, 21, 21);
    --admonition-note: rgb(138, 180, 248);
    --admonition-warning: rgb(253, 186, 116);
    --admonition-danger: rgb(220, 38, 38);
    --brand-primary-rgb-value: 138, 180, 248;
    --brand-secondary-rgb-value: 193, 168, 226;
    --brand-alternative-rgb-value: 136, 186, 191;
    --background-site-rgb-value: 0, 0, 0;
    --background-code-rgb-value: 12, 12, 12;
    --text-body-rgb-value: 222, 222, 222;
    --text-comment-rgb-value: 170, 170, 170;
    --text-high-contrast-rgb-value: 230, 230, 230;
    --text-medium-contrast-rgb-value: 202, 202, 202;
    --text-low-contrast-rgb-value: 170, 170, 170;
    --detail-high-contrast-rgb-value: 101, 101, 101;
    --detail-medium-contrast-rgb-value: 25, 25, 25;
    --detail-low-contrast-rgb-value: 21, 21, 21;
    --admonition-note-rgb-value: 138, 180, 248;
    --admonition-warning-rgb-value: 253, 186, 116;
    --admonition-danger-rgb-value: 220, 38, 38;
}

.tiptap {
    max-width: 100%;
    min-height: 100%;
    height: auto;
    width: 100%;

    /* Code and preformatted text styles */
    code,
    .codigo-inline {
        background-color: #e4d7f7;
        padding: 0.2em 0.4em;
        border-radius: 4px;
        font-family: "Fira Code", monospace;
        font-size: 0.95em;
    }

    pre,
    .codigo-bloco {
        background-color: #7123e7;
        color: white;
        padding: 1em;
        border-radius: 6px;
        font-family: "Fira Code", monospace;
        font-size: 0.95em;
        overflow-x: auto;
        margin: 1.5rem 0;

        code {
            background-color: transparent;
            padding: 0;
            border-radius: 0;
            color: inherit;
            font-size: inherit;
        }
    }
    a {
        /* color: var(--brand-primary); */
        text-decoration: underline;
    }

    blockquote {
        border-left: 3px solid rgb(185, 185, 185);
        margin: 1.5rem 0;
        padding-left: 1rem;
    }

    blockquote:first-child {
        margin-top: 0;
    }

    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    ul[data-type="taskList"] {
        list-style: none;
        margin-left: 0;
        padding: 0;

        li {
            align-items: flex-start;
            display: flex;

            > label {
                flex: 0 0 auto;
                margin-right: 0.5rem;
                user-select: none;
            }

            > div {
                flex: 1 1 auto;
            }
        }

        li[data-checked="true"] > div {
            text-decoration: line-through;
            opacity: 0.6;
        }

        input[type="checkbox"] {
            cursor: pointer;
        }

        ul[data-type="taskList"] {
            margin: 0;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        margin-top: 2.5rem;
        text-wrap: pretty;
    }

    h1,
    h2 {
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    hr {
        border: none;
        border-top: 1px solid rgb(185, 185, 185);
        cursor: pointer;
        margin: 2rem 0;

        &.ProseMirror-selectednode {
            border-top: 1px solid var(--purple);
        }
    }

    table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            border: 1px solid rgb(202, 202, 202);
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            > * {
                margin-bottom: 0;
            }
        }

        th {
            background-color: rgb(185, 185, 185);
            font-weight: bold;
            text-align: left;
        }

        .selectedCell:after {
            background: rgb(202, 202, 202);
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }

        .column-resize-handle {
            background-color: rgb(112, 35, 231);
            bottom: -2px;
            pointer-events: none;
            position: absolute;
            right: -2px;
            top: 0;
            width: 4px;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    &.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }
}
